<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include nav.ejs %>
    <!-- show message if user is member -->
    <!-- regardless, populate messages -->

    <h3><%= title %></h3>
    <h4>みゃお</h4>
    <p>Welcome to <%= title %></p>
    <a href="/allmessages">Go to allmessages</a>
    <!-- create message model -->
  </body>
</html>
