<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>みゃお</h3>
    <p>Welcome to <%= title %></p>
    <a href="/login">Go to Login</a>
    <a href="/sign-up">Go to sign-up</a>
  </body>
</html>
