body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.login-btn {
  color: #5dade2;
  font-weight: 700;
  background-color: #d6eaf8;
}

.box-radius {
  border-radius: 10px;
}
